<header class="header-site" role="banner">
    <div class="content">
        <div class="person">
        </div>
        <h1>
            <span class="site-title">{{site.username}}</span>
        </h1>
        <div class="icons-home">
            <a aria-label="Home" target="_blank" href="{{site.baseurl}}"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg></a>
            <a aria-label="Send email" href="mailto:{{site.email}}"><svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg></a>
            <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>
            <a aria-label="My LinkedIn" target="_blank" href="https://linkedin.com/in/{{site.linkedin_username}}"><svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg></a>
            <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg></a>
            <a aria-label="Use the RSS to get updated" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>
            <a aria-label="About Me" target="_blank" href="{{ "/faq/" | prepend: site.baseurl }}"><svg class="icon icon-about"><use xlink:href="#icon-about"></use></svg></a>
        </div>
        <ul class="recent">
            <p>Recent posts:</p>
             {% for post in site.posts limit:6%}
                <li><a href="{{ post.url | prepend: site.baseurl }}"><h2 class="post-title" itemprop="name">{{ post.title }}</h2></a></li>
              {% endfor %}
        </ul>
        <ul class="recent">
            <p>Recent projects:</p>
             {% for project in site.projects limit:6%}
                <li><a href="{{ project.url}}"><h2 class="post-title" itemprop="name">{{ project.name }}</h2></a></li>
              {% endfor %}
        </ul>
    </div>
    <!-- {% include menu-search.html %} --> 
</header>
